@import 'bourbon/bourbon';

/*
   ----------------------------------------------------

	Hackathon Frontend
    Author      : Paul Bombo
    Updated     : 19-Feb-2015

   -----------------------------------------------------
*/

//	Colours
$usiu_blue: #00A0E3;
$usiu_yellow: #FFCB08;
$summer_green: #B0CB1F;
$summer_deep_green: #0DAB85;
$summer_dark_green: #61A375;


//Primary Font Stack
$primary_font_stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$opensans_stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald_stack: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;

//* Default Normalize Styles
@import 'styles/defaults';

//* Grid
@import 'styles/grid';

//* Buttons
@import 'styles/buttons';

/* ==========================================================================
   App styles
   ========================================================================== */

//* Login Styles
@import 'styles/login';

//* Header Styles
@import 'styles/header-mobile';

//* Main Common Styles
@import 'styles/common';

@import 'styles/modals';

//* Main Main Styles :P
@import 'styles/main';

//* Schedule Page Styles
@import 'styles/schedule';

//* Footer Styles
@import 'styles/footer';

//* Media Queries
@import 'styles/mediaqueries';
