/** Header Styles **/
body {
  .register {
    @extend .clearfix;
    height: 0;
    z-index: -1;
    visibility: hidden;
		@include transition(all 0.5s 0.2s);
    
    .sponsors {
      opacity: 0;
    }
    
  }
  
  
}

body.show-register {
  .register {
    position: relative;
    height: auto;
    z-index: 2;
    min-height: 550px;
    visibility: visible;
		@include transition(all 0.5s 0.2s);
    
    .sponsors {
      position: absolute;
      bottom: 2.5em;
      opacity: 1;

      @extend .wrapper;
      @include transition(all 0.5s 0.2s);
      
      h4 {
        @extend .lf;
        font-weight: 100;
        font-size: 0.9em;
        color: #FFF;
        text-transform: uppercase;
        margin-right: 1.5em;
      }
      
      img {
        @extend .lf;
//        width: 100px;
        height: 55px;
        margin-right: 1.25em;
      }
    }
  }
  
  span > header {
    nav {
      @include transition(all 0.5s 0.2s);
      opacity: 1;
      
      .links {
        float: none;
      }
      
      .logo-wrapper {
        display: none;
      }
      
    }
  }
}

header {
	
	width: 95%;
	height: 100px;
	
	margin: auto 2.5%;
	padding: 1em 0;

	a.menu-icon { display: none; }
	
	&.open {
		position: fixed;
		height: 250px;
		padding-bottom: 2em;
    
		.content {
//			@extend .clearfix, .row;
			width: 100%;
			margin-top: 2em;
		}
		
		.button {
			display: inline-block;
			margin-right: 1em;
			
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
	
	nav {
		padding: 1em 0;
		
		.logo-wrapper {
			img {
				height: 32px;
			}
		}
		
		//Link styles
		.links {
			position: relative;
			top: 0;
			width: auto;
			float: right;
			
			background: transparent;
			
			padding: 0;
			
			a {
				position: relative;
				display: inline-block;
				text-decoration: none;
				color: #555;
				font-weight: 300;
				font-size: 1em;
				letter-spacing: 1px;
				padding-top: 1em;
				width: 100px;
				margin-right: 2em;
				
				&:before {
					content: ' ';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 1px;
					opacity: 0.5;
					background: $summer_green;
					@include transition(width 0.3s, height 0.5s, opacity 0.5s);
				}
				
				&:after {
					content: ' ';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					height: 1px;
					width: 0;
					background: $summer_dark_green;
					@include transition(width 0.3s, opacity 0.5s);
				}
				
				&:hover, &.active {
					color: $summer_dark_green;
					
					&:after {
						width: 100%;
					}
				}
				
				&.active {
					font-weight: normal;
				}
				
				&:last-of-type {
					margin-right: 0;
				}
			}
			
		}
		
		//Menu Buttons		
		a.menu-icon {

			position: absolute;
			right: 2.5%;
			z-index: 1000;

			@include transition(all 0.6s ease);

//			&:hover {
//				.patty {
//					&:before {
//						top: -9px;
//					}		
//					&:after {
//						top: 9px;
//					}
//				}
//			}

		}
		
		.patty {
			width: 24px;
			height: 4px;
			margin: 10px 0;
			background: $usiu_blue;		
			cursor: pointer;
			position: relative;

			&:before, &:after {
				cursor: pointer;
				position: absolute;
				content: '';
				display: block;
				width: 24px;
				height: 4px;
				background: $usiu_blue;		
				z-index: -1;
				@include transition(all 0.4s ease);
				top: 0;
			}

			background: none;

			&:before {
				transform: rotate(-45deg);
			}		
			&:after {
				transform: rotate(45deg);
			}
			&:before, &:after {
				top: 0;
				background: #FFF;
			}
		}
		
	}
}

/** End of Header Styles **/