/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 45em) {
    /* Style adjustments for viewports that meet the condition */

	.cell {
		height: 475px;
	}

	.wrapper {
		width: 95%;
		margin: auto 2.5%;
	}

	@import 'header';

	header {
		display: block;
	}

	.main {
		margin-top: 2em;

		//Home page Styles
		&.home {

			h1 {
				font-size: 8em;
				letter-spacing: -10px;
				margin-top: 0;
			}

			h2 {
				font-size: 2em;
			}

			h1 {
				margin-top: 0;
				line-height: 0.85;
			}

			h2 {
				font-size: 2em;
				margin-top: 0.35em;
			}

			h3 {
				margin-top: 0.125em;
				font-size: 4.5em;
				font-weight: 100;
				color: $summer_dark_green;
			}

			.cta {
				width: 2/3 * 100%;
				float: left;
			}

			.see-last-sem {
				@extend .cell;
				width: 1/3 * 100%;

				.button {
					margin-top: 2.75em;
					margin-right: auto;
					margin-left: auto;
				}
			}
		}
		//End of Home Styles

		//Page Styles
		&.page {

			.title-wrapper {
				width: 33.33333333333333%;
			}

			.content {

				p {
					width: 70%;
				}
			}

			.main-image {
        float: left;
        width: 55%;
				padding: 0.5em 0.5em 0;
        cursor: zoom-in;
			}

			.gallery-images {
        float: left;
				width: 45%;
				padding: 0 0 0 1em;

				li {
					width: 50%;
					padding: 0.5em;
				}

        img {
          cursor: zoom-in;
        }
			}

			//Sponsor Gallery Styles
			.sponsor-gallery {
				.gold {
					li {
						width: 2/3 * 100%;
					}
				}

				.silver {
					li {
						float: left;
						width: 1/5 * 100%;
					}
				}

				.bronze {
					li {
						float: left;
						min-width: 1/5 * 100%;
					}
				}

			}
			//End of Sponsor Gallery Styles


			//Schedule Page Styles
			&.schedule {

				> section {

					margin-top: 0;

					header {

						float: left;
						margin-right: 3%;
						margin-left: 0;
						padding-left: 0;
						width: 28%;

						padding-top: 2em;

						border: none;

						h1 {
							font-size: 4em;
							font-weight: 100;
						  letter-spacing: -2px;
						  line-height: 1;
						  //color: #00A0E3;
  						text-transform: uppercase;
							margin-top: 0.25em;
							margin-bottom: 2.5641%;
							padding-right: 5.12821%;
						}

						h2 {
							margin-bottom: 0.5em;
							padding-right: 0;
						}

						p {
							font-size: 1em;
							padding-right: 0;
						}

						dl {
							margin-bottom: 0;
							margin-top: 4em;

							dt {
								display: block;
							}

							dd {
								float: left;
								width: 67.3913%;
								margin-right: 0;
							}
						}

						dt {
							border-top-color: #bfbfbf;
							font-weight: 500;
							color: #737373;
						}

						&.sticky {
							position: fixed;
							top: 0;
						}
					}

					.main {
						margin-right: 0;
						float: right;
						width: 65%;
						margin-top: -1em;
						padding-top: 0;
						padding-bottom: 10%;
						padding-left: 0;

						li > p {
							display: block;
							float: left;
							width: 15.09434% ! important;
							font-weight: 400;
							color: #222;
							margin-right: 3.77358%;

						}

						h2, li > p:first-child {
							height: 4em;
							padding-top: 3em;
							padding-bottom: 0;
						}

						h2 {
							float: left;
							width: 81.13208%;
							padding-top: 2.3em;
							padding-right: 0;
						}

						h3 {
							float: left;
							width: 81.13208%;
							margin-right: 0;
							margin-top: 0.5em;
							margin-bottom: 2em;
							margin-left: 18.86792%;
						}

						form {
							margin-top: 0;
							padding-top: 4em;
							border-top: solid 1px #E6E6E6;

							ul {

								li {

									&.inline {
										display: inline-block;
										vertical-align: middle;
										margin-right: 1em;
									}
								}
							}
						}

						ul {

							li {
								margin-top: 4em;

								div {
									display: block;
									float: left;
									margin-right: 3.77358%;
									width: 62.26415%;
									margin-left: 18.86792%;
								}

							}
						}

						aside {
							float: right;
							width: 14%;

							ul {

								li {
									float: none;
									display: block;
									padding-bottom: 0;
									line-height: 2.25em;

									+ :before {
										display: none;
										content: "";
									}

								}
							}
						}

					}

				}
			}
			//End of Schedule Page Styles

		}
		//End of Page Styles

	}

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dppx) {
    /* Style adjustments for high resolution devices */
}
